<div class="row" style="width: 850px; padding-bottom: 20px;">
    <div class="col-md-4">
        <input matInput #input class="form-control" [(ngModel)]="search"
            placeholder="Ingrese nombre de prospecto o cliente a buscar" name="search">
    </div>
    <div class="col-md-4">
        <select name="assigned_users" id="assigned_users" [(ngModel)]="assignedUserId" [disabled]="usuarios.length < 2">
            <option *ngIf="usuarios.length > 1" value="TODOS">Todos</option>
            <option *ngFor="let usuario of usuarios" [ngValue]="usuario.id">{{usuario.attributes.full_name}}
            </option>
        </select>
    </div>
    <div class="col-md-4">
        <button mat-raised-button (click)="updatePipeline()" class="button" style="margin-right: 10px;"
            color="primary">Buscar</button>
        <button mat-raised-button (click)="onClickLead()" class="button" color="primary">Agregar prospecto</button>
    </div>
</div>
<div class="pipeline-container">
    <h2>Captado</h2>
    <h2>{{captados.length}}</h2>
    <div cdkDropList id="list-captados" class="list" [cdkDropListData]="captados"
        [cdkDropListConnectedTo]="['list-interesados', 'list-perdidos']" (cdkDropListDropped)="onDrop($event)">
        <div cdkDrag class="box" style="border-top: solid 20px rgb(68, 109, 81);" *ngFor="let item of captados"
            (dblclick)="onClickLead(item.id)">
            <div>
                <b>Nombre:</b>{{item.attributes.full_name}}<br>
                <b>Celular:</b>{{item.attributes.phone_mobile}}<br>
                <b>Departamento:</b>{{item.attributes.state_name}}<br>
                <b>¿Cómo se enteró?:</b>{{item.attributes.como_entero}}<br>
                <b>Grado de interés:</b>{{item.attributes.grado_interes}}<br>
                <b>Equipo:</b>{{item.attributes.securitygroup_name}}<br>
                <b>Asignado a:</b>{{item.attributes.user_full_name}}<br>
            </div>
        </div>
    </div>
</div>
<div class="pipeline-container">
    <h2>Interés</h2>
    <h2>{{interesados.length}}</h2>
    <div cdkDropList id="list-interesados" class="list" [cdkDropListData]="interesados"
        [cdkDropListConnectedTo]="['list-captados', 'list-negociaciones', 'list-perdidos']"
        (cdkDropListDropped)="onDrop($event)">
        <div cdkDrag class="box" style="border-top: solid 20px rgb(68, 109, 81);" *ngFor="let item of interesados"
            (dblclick)="onClickLead(item.id)">
            <div>
                <b>Nombre:</b>{{item.attributes.full_name}}<br>
                <b>Celular:</b>{{item.attributes.phone_mobile}}<br>
                <b>Departamento:</b>{{item.attributes.state_name}}<br>
                <b>¿Cómo se enteró?:</b>{{item.attributes.como_entero}}<br>
                <b>Grado de interés:</b>{{item.attributes.grado_interes}}<br>
                <b>Equipo:</b>{{item.attributes.securitygroup_name}}<br>
                <b>Asignado a:</b>{{item.attributes.user_full_name}}<br>
            </div>
        </div>
    </div>
</div>
<div class="pipeline-container">
    <h2>Negociación</h2>
    <h2>{{negociaciones.length}}</h2>
    <div cdkDropList id="list-negociaciones" class="list" [cdkDropListData]="negociaciones"
        [cdkDropListConnectedTo]="['list-propuestas', 'list-perdidos']" (cdkDropListDropped)="onDrop($event)">
        <div cdkDrag class="box" style="border-top: solid 20px rgb(216, 149, 86);" *ngFor="let item of negociaciones"
            (dblclick)="onClickOpportunity(item.id)">
            <div>
                <b>Nombre:</b>{{item.attributes.full_name}}<br>
                <b>Celular:</b>{{item.attributes.phone_mobile}}<br>
                <b>Departamento:</b>{{item.attributes.state_name}}<br>
                <b>¿Cómo se enteró?:</b>{{item.attributes.como_entero}}<br>
                <b>Grado de interés:</b>{{item.attributes.grado_interes}}<br>
                <b>Equipo:</b>{{item.attributes.securitygroup_name}}<br>
                <b>Asignado a:</b>{{item.attributes.user_full_name}}<br>
            </div>
        </div>
    </div>
</div>
<div class="pipeline-container">
    <h2>Propuesta ganada</h2>
    <h2>{{propuestas.length}}</h2>
    <div cdkDropList id="list-propuestas" class="list" [cdkDropListData]="propuestas"
        [cdkDropListConnectedTo]="['list-negociaciones','list-perdidos']" (cdkDropListDropped)="onDrop($event)">
        <div cdkDrag class="box" style="border-top: solid 20px rgb(216, 149, 86);" *ngFor="let item of propuestas"
            (dblclick)="onClickOpportunity(item.id)">
            <div>
                <b>Nombre:</b>{{item.attributes.full_name}}<br>
                <b>Celular:</b>{{item.attributes.phone_mobile}}<br>
                <b>Departamento:</b>{{item.attributes.state_name}}<br>
                <b>¿Cómo se enteró?:</b>{{item.attributes.como_entero}}<br>
                <b>Grado de interés:</b>{{item.attributes.grado_interes}}<br>
                <b>Equipo:</b>{{item.attributes.securitygroup_name}}<br>
                <b>Asignado a:</b>{{item.attributes.user_full_name}}<br>
            </div>
        </div>
    </div>
</div>
<div class="pipeline-container">
    <h2>Reserva</h2>
    <h2>{{reservas.length}}</h2>
    <div cdkDropList id="list-reservas" class="list" [cdkDropListData]="reservas" (cdkDropListDropped)="onDrop($event)">
        <div class="box" *ngFor="let item of reservas" cdkDrag>
            <div>
                <b>Nombre:</b>{{item.attributes.full_name}}<br>
                <b>Celular:</b>{{item.attributes.phone_mobile}}<br>
                <b>Departamento:</b>{{item.attributes.state_name}}<br>
                <b>¿Cómo se enteró?:</b>{{item.attributes.como_entero}}<br>
                <b>Grado de interés:</b>{{item.attributes.grado_interes}}<br>
                <b>Equipo:</b>{{item.attributes.securitygroup_name}}<br>
                <b>Asignado a:</b>{{item.attributes.user_full_name}}<br>
            </div>
        </div>
    </div>
</div>
<div class="pipeline-container">
    <h2>Contrato</h2>
    <h2>{{contratos.length}}</h2>
    <div cdkDropList id="list-contratos" class="list" [cdkDropListData]="contratos"
        (cdkDropListDropped)="onDrop($event)">
        <div class="box" *ngFor="let item of contratos" cdkDrag>
            <div>
                <b>Nombre:</b>{{item.attributes.full_name}}<br>
                <b>Celular:</b>{{item.attributes.phone_mobile}}<br>
                <b>Departamento:</b>{{item.attributes.state_name}}<br>
                <b>¿Cómo se enteró?:</b>{{item.attributes.como_entero}}<br>
                <b>Grado de interés:</b>{{item.attributes.grado_interes}}<br>
                <b>Equipo:</b>{{item.attributes.securitygroup_name}}<br>
                <b>Asignado a:</b>{{item.attributes.user_full_name}}<br>
            </div>
        </div>
    </div>
</div>
<div class="pipeline-container">
    <h2>Cierre ganado</h2>
    <h2>{{ganados.length}}</h2>
    <div cdkDropList id="list-ganados" class="list" [cdkDropListData]="ganados" (cdkDropListDropped)="onDrop($event)">
        <div class="box" *ngFor="let item of ganados" cdkDrag>
            <div>
                <b>Nombre:</b>{{item.attributes.full_name}}<br>
                <b>Celular:</b>{{item.attributes.phone_mobile}}<br>
                <b>Departamento:</b>{{item.attributes.state_name}}<br>
                <b>¿Cómo se enteró?:</b>{{item.attributes.como_entero}}<br>
                <b>Grado de interés:</b>{{item.attributes.grado_interes}}<br>
                <b>Equipo:</b>{{item.attributes.securitygroup_name}}<br>
                <b>Asignado a:</b>{{item.attributes.user_full_name}}<br>
            </div>
        </div>
    </div>
</div>
<div class="pipeline-container">
    <h2>Cierre perdido</h2>
    <h2>{{perdidos.length}}</h2>
    <div cdkDropList id="list-perdidos" class="list" [cdkDropListData]="perdidos" (cdkDropListDropped)="onDrop($event)">
        <div cdkDrag class="box" style="border-top: solid 20px rgb(201, 47, 42);" *ngFor="let item of perdidos" >
            <div>
                <b>Nombre:</b>{{item.attributes.full_name}}<br>
                <b>Celular:</b>{{item.attributes.phone_mobile}}<br>
                <b>Departamento:</b>{{item.attributes.state_name}}<br>
                <b>¿Cómo se enteró?:</b>{{item.attributes.como_entero}}<br>
                <b>Grado de interés:</b>{{item.attributes.grado_interes}}<br>
                <b>Equipo:</b>{{item.attributes.securitygroup_name}}<br>
                <b>Asignado a:</b>{{item.attributes.user_full_name}}<br>
            </div>
        </div>
    </div>
</div>