<mat-dialog-content class="hpanel">
    <div class="panel-heading">
        <h4>{{data.id ? 'EDITAR PROSPECTO' : 'NUEVO PROSPECTO'}}</h4>
    </div>
    <form #formDialog="ngForm" class="panel-body">
        <div *ngIf="!data.id" class="panel-body">
            <div class="row">
                <label class="col-md-3">Buscar cliente existente:</label>
                <label class="col-md-2">
                    <input type="radio" name="search_cliente" [(ngModel)]="searchCliente" value="NO">
                    No
                </label>
                <label class="col-md-2">
                    <input type="radio" name="search_cliente" [(ngModel)]="searchCliente" value="SI">
                    Si
                </label>
            </div>
            <div *ngIf="searchCliente == 'SI'" class="row">
                <label class="col-md-2">Cédula de identidad:</label>
                <div class="col-md-4">
                    <input type="text" name="number_document" id="number_document" [(ngModel)]="numberDocument">
                </div>
                <div class="col-md-2">
                    <a (click)="onClickBuscarCliente()" id="SEARCH_CI"><span class="material-icons">search</span></a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div style="clear:both;">
                <h4>
                    Datos de la persona
                </h4>
            </div>
            <div class="row" style="padding-bottom: 3px;">
                <label class="col-md-2">Nombre(s)<span class="required">*</span>:</label>
                <div class="col-md-4">
                    <input type="text" name="first_name" id="first_name" [(ngModel)]="data.attributes.first_name"
                        (ngModelChange)="onAsignarUsuarioId()" [readonly]="data.id" required>
                </div>
                <label class="col-md-2">Apellido paterno<span class="required">*</span>:</label>
                <div class="col-md-4">
                    <input type="text" name="last_name" id="last_name" [(ngModel)]="data.attributes.last_name"
                        (ngModelChange)="onAsignarUsuarioId()" [readonly]="data.id" required>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2">Apellido materno:</label>
                <div class="col-md-4">
                    <input type="text" name="last_name2_c" id="last_name2_c" [(ngModel)]="data.attributes.last_name2_c">
                </div>
                <label class="col-md-2">
                    Apellido casada:
                </label>
                <div class="col-md-2">
                    <select name="last_name3_prefix_c" id="last_name3_prefix_c"
                        [(ngModel)]="data.attributes.last_name3_prefix_c">
                        <option value=""></option>
                        <option value="DE">de</option>
                        <option value="VDA">Vda. de</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="text" name="last_name3_c" id="last_name3_c" [(ngModel)]="data.attributes.last_name3_c">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div style="clear:both;">
                <h4>
                    Datos de contacto
                </h4>
            </div>
            <div class="row" style="padding-bottom: 3px;">
                <label class="col-md-2">
                    Celular 1<span class="required">*</span>:
                </label>
                <div class="col-md-4">
                    <input type="tel" name="phone_mobile" id="phone_mobile" [(ngModel)]="data.attributes.phone_mobile"
                        (ngModelChange)="onAsignarUsuarioId()" required>
                </div>
                <label class="col-md-2">
                    Tiene whatsapp:
                </label>
                <div class="col-md-2">
                    <input type="checkbox" id="tiene_whatsapp_c" name="tiene_whatsapp_c"
                        [(ngModel)]="data.attributes.tiene_whatsapp_c">
                </div>
            </div>
            <div class="row">
                <label class="col-md-2">
                    Correo electrónico:
                </label>
                <div class="col-md-10">
                    <input type="text" name="email1" id="email1" [(ngModel)]="data.attributes.email1">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div style="clear:both;">
                <h4>
                    Datos de ubicación
                </h4>
            </div>
            <div class="row" style="padding-bottom: 3px;">
                <label class="col-md-2">
                    País:
                </label>
                <div class="col-md-4">
                    <select type="text" name="primary_address_country" id="primary_address_country"
                        [(ngModel)]="data.attributes.primary_address_country" (ngModelChange)="onSelectPais($event)">
                        <option [value]="item.abr_pais" *ngFor="let item of paises">{{item.pais}}</option>
                    </select>
                </div>
                <label class="col-md-2">
                    Ciudad:
                </label>
                <div class="col-md-4">
                    <select name="primary_address_state" id="primary_address_state"
                        [(ngModel)]="data.attributes.primary_address_state" [disabled]="estados.length == 0">
                        <option [value]="item.abr_estado" *ngFor="let item of estados">{{item.estado}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2">
                    Dirección:
                </label>
                <div class="col-md-10">
                    <input type="text" name="primary_address_street" id="primary_address_street"
                        [(ngModel)]="data.attributes.primary_address_street">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div style="clear:both;">
                <h4>
                    Datos del prospecto
                </h4>
            </div>
            <div class="row" style="padding-bottom: 3px;">
                <label class="col-md-2">
                    Tipo:
                </label>
                <div class="col-md-4">
                    <select name="tipo_prospecto_c" id="tipo_prospecto_c" [(ngModel)]="data.attributes.tipo_prospecto_c"
                        (ngModelChange)="onSelectTipoProspecto($event)">
                        <option [value]="item.name" *ngFor="let item of tiposProspectos">{{item.description}}
                        </option>
                    </select>
                </div>
                <label class="col-md-2">
                    Fecha válidez:
                </label>
                <div class="col-md-4">
                    <input autocomplete="off" type="text" name="fecha_validez_c" id="fecha_validez_c"
                        value="{{ data.attributes.fecha_validez_c | date :'dd/MM/yyyy' }}" readonly>
                </div>
            </div>
            <div class="row">
                <label class="col-md-2">
                    ¿Cómo llegó?:
                </label>
                <div class="col-md-4">
                    <select name="lead_source" id="lead_source" [(ngModel)]="data.attributes.lead_source"
                        [disabled]="!!data.id">
                        <option [value]="item.key" *ngFor="let item of listaComoLlego">{{item.value}}
                        </option>
                    </select>
                </div>
                <label class="col-md-2">
                    ¿Cómo se enteró?:
                </label>
                <div class="col-md-4">
                    <select name="lead_source2_c" id="lead_source2_c" [(ngModel)]="data.attributes.lead_source2_c"
                        [disabled]="!!data.id">
                        <option [value]="item.key" *ngFor="let item of listaComoSeEntero">{{item.value}}
                        </option>
                    </select>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <div style="clear:both;">
                <h4>
                    Asignar prospecto
                </h4>
            </div>
            <div class="row" style="padding-bottom: 3px;">
                <label class="col-md-2">
                    Asignado a:
                </label>
                <div class="col-md-6">
                    <input type="hidden">
                    <input type="text" name="assigned_user_name" id="assigned_user_name"
                        value="{{user.attributes.full_name}}" readonly>
                </div>
            </div>
            <div *ngIf="dataSource.length > 1" class="row">
                <label class="col-md-2">
                    Buscar:
                </label>
                <div class="col-md-4">
                    <select name="busqueda" id="busqueda" [(ngModel)]="busqueda">
                        <option value="0">Ejecutivo de ventas</option>
                        <option value="1">Ciudad</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input autocomplete="off" type="text" name="busquedaText" id="busquedaText"
                        [(ngModel)]="busquedaText">
                </div>
                <div class="col-md-2">
                    <a (click)="onClickBuscar()" id="SEARCH_FOOTER"><span class="material-icons">search</span></a>
                </div>
            </div>
            <div *ngIf="dataSource.length > 1" class="row" style="max-height: 200px; overflow: auto;">
                <table mat-table [dataSource]="dataSource" style="width: 100%;">
                    <ng-container matColumnDef="full_name">
                        <th mat-header-cell *matHeaderCellDef> Asesor de negocio </th>
                        <td mat-cell *matCellDef="let element"> {{element.attributes.full_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="securitygroup_name">
                        <th mat-header-cell *matHeaderCellDef> Equipo </th>
                        <td mat-cell *matCellDef="let element"> {{element.attributes.securitygroup_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>Seleccionar</th>
                        <td mat-cell *matCellDef="let element">
                            <input type="radio" id="assigned_user_id" name="assigned_user_id"
                                [(ngModel)]="data.attributes.assigned_user_id" (change)="onSelectAsesor(element)"
                                value="{{element.id}}">
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                </table>
            </div>
        </div>
        <div class="buttons" style="text-align: center;">
            <div class="action_buttons">
                <button class="button" [ngClass]="{'disabled':formDialog.invalid}" (click)="onClickGuardar()"
                    type="button" [disabled]="formDialog.invalid" id="SAVE_FOOTER">Guardar</button>

                <button class="button" (click)="onClickCancelar()" type="button" id="CANCEL_FOOTER">Cancelar</button>
            </div>
        </div>
    </form>
</mat-dialog-content>